4uMckfFRptTqiSjT.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Read Content Plan",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Content Plan": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Queue": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Select Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Batch": {
      "main": [
        [
          {
            "node": "Get Unique Books",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unique Books": {
      "main": [
        [
          {
            "node": "Loop Books",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Books": {
      "main": [
        [
          {
            "node": "Attach Chapter Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Extract PDF Per Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Per Page": {
      "main": [
        [
          {
            "node": "Normalize Book Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Book Pages": {
      "main": [
        [
          {
            "node": "Loop Books",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Chapter Text": {
      "main": [
        [
          {
            "node": "Loop Each Concept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Each Concept": {
      "main": [
        [],
        [
          {
            "node": "Generate Dialogue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Dialogue": {
      "main": [
        [
          {
            "node": "Parse Dialogue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dialogue Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Dialogue",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Dialogue": {
      "main": [
        [
          {
            "node": "Dedup Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Check": {
      "main": [
        [
          {
            "node": "Evaluate Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Model": {
      "ai_languageModel": [
        [
          {
            "node": "Dedup Check",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Quality": {
      "main": [
        [
          {
            "node": "Need Retry?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need Retry?": {
      "main": [
        [
          {
            "node": "Generate Dialogue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Concept?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Concept?": {
      "main": [
        [
          {
            "node": "Log Skipped",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fan Out Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Skipped": {
      "main": [
        [
          {
            "node": "Loop Each Concept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fan Out Lines": {
      "main": [
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech": {
      "main": [
        [
          {
            "node": "Save Line Audio + Timings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Line Audio + Timings": {
      "main": [
        [
          {
            "node": "Aggregate Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Lines": {
      "main": [
        [
          {
            "node": "Build Timing + Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Timing + Captions": {
      "main": [
        [
          {
            "node": "FFmpeg Concat Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFmpeg Concat Voice": {
      "main": [
        [
          {
            "node": "Pick Minecraft Clip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Minecraft Clip": {
      "main": [
        [
          {
            "node": "Build FFmpeg Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build FFmpeg Command": {
      "main": [
        [
          {
            "node": "FFmpeg Assemble Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFmpeg Assemble Video": {
      "main": [
        [
          {
            "node": "Load Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Final Video": {
      "main": [
        [
          {
            "node": "Upload Video to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video to Drive": {
      "main": [
        [
          {
            "node": "Capture Drive Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Drive Ref": {
      "main": [
        [
          {
            "node": "Append Queue Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Queue Row": {
      "main": [
        [
          {
            "node": "Mark Concept Generated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Concept Generated": {
      "main": [
        [
          {
            "node": "Cleanup Temp Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Temp Files": {
      "main": [
        [
          {
            "node": "Loop Each Concept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2026-05-20T14:50:57.330Z",
  "id": "4uMckfFRptTqiSjT",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "B1 - Shorts Generator (ElevenLabs node)",
  "nodes": [
    {
      "parameters": {},
      "id": "95b0e90c-af38-48b5-a828-7dbe8974ffca",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2432,
        3792
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "g1",
              "name": "ANTHROPIC_MODEL",
              "value": "claude-sonnet-4-5",
              "type": "string"
            },
            {
              "id": "g2",
              "name": "ANTHROPIC_MODEL_CHEAP",
              "value": "claude-haiku-4-5-20251001",
              "type": "string"
            },
            {
              "id": "g10",
              "name": "BOOK_MANIFEST_SHEET_ID",
              "value": "1GT3DiUOlB_LdA7oqTIxDLUM7SMaCChrV1u7RJ3WjVhM",
              "type": "string"
            },
            {
              "id": "g11",
              "name": "BOOK_MANIFEST_TAB",
              "value": "Sheet1",
              "type": "string"
            },
            {
              "id": "g12",
              "name": "CONTENT_PLAN_SHEET_ID",
              "value": "1jQvKsxlacuR97yqzMIebv7zorsI-5RagOTu1UjqcLN4",
              "type": "string"
            },
            {
              "id": "g13",
              "name": "CONTENT_PLAN_TAB",
              "value": "Sheet1",
              "type": "string"
            },
            {
              "id": "g14",
              "name": "QUEUE_SHEET_ID",
              "value": "1CShyRG8-hEzHcwDsufPoDzvw98bWpUfuwOrrJcQgfG4",
              "type": "string"
            },
            {
              "id": "g15",
              "name": "QUEUE_TAB",
              "value": "Sheet1",
              "type": "string"
            },
            {
              "id": "g16",
              "name": "ERRORS_LOG_SHEET_ID",
              "value": "1Uwo_dzVIcJRIHJoP7blTwIPQaNmSkWhLtO2bKgT7Nds",
              "type": "string"
            },
            {
              "id": "g17",
              "name": "ERRORS_LOG_TAB",
              "value": "Sheet1",
              "type": "string"
            },
            {
              "id": "g20",
              "name": "ELEVENLABS_MODEL_ID",
              "value": "eleven_turbo_v2_5",
              "type": "string"
            },
            {
              "id": "g21",
              "name": "CHARACTER_A_NAME",
              "value": "Max",
              "type": "string"
            },
            {
              "id": "g22",
              "name": "CHARACTER_A_VOICE_ID",
              "value": "DYkrAHD8iwork3YSUBbs",
              "type": "string"
            },
            {
              "id": "g23",
              "name": "CHARACTER_A_PERSONALITY",
              "value": "The skeptical everyman. Asks the dumb-sounding question that turns out to be the right one. Mildly cynical, dry, drops the occasional self-deprecating jab. Voices doubt, resistance, and what the audience is secretly thinking.",
              "type": "string"
            },
            {
              "id": "g24",
              "name": "CHARACTER_B_NAME",
              "value": "Doc",
              "type": "string"
            },
            {
              "id": "g25",
              "name": "CHARACTER_B_VOICE_ID",
              "value": "g6xIsTj2HwM6VR4iXFCw",
              "type": "string"
            },
            {
              "id": "g26",
              "name": "CHARACTER_B_PERSONALITY",
              "value": "The patient explainer with a slight edge. Knows the answer, delivers it precisely, occasionally cutting when Max says something especially wrong. Never lectures, never moralizes — just lands the insight and lets it sit.",
              "type": "string"
            },
            {
              "id": "g30",
              "name": "NICHE_NAME",
              "value": "Psychology",
              "type": "string"
            },
            {
              "id": "g31",
              "name": "NICHE_AUDIENCE",
              "value": "Young adults 16-25 interested in why people think and behave the way they do. They scroll Shorts daily, are skeptical of self-help cliches, and respond to specific, counter-intuitive insight delivered with personality.",
              "type": "string"
            },
            {
              "id": "g40",
              "name": "WORK_DIR",
              "value": "/tmp/n8n-shorts",
              "type": "string"
            },
            {
              "id": "g41",
              "name": "ASSETS_DIR",
              "value": "/data/assets",
              "type": "string"
            },
            {
              "id": "g42",
              "name": "MINECRAFT_DIR",
              "value": "/data/assets/minecraft",
              "type": "string"
            },
            {
              "id": "g43",
              "name": "SPRITE_A_PATH",
              "value": "/data/assets/sprites/max.png",
              "type": "string"
            },
            {
              "id": "g44",
              "name": "SPRITE_B_PATH",
              "value": "/data/assets/sprites/doc.png",
              "type": "string"
            },
            {
              "id": "g45",
              "name": "MUSIC_BED_PATH",
              "value": "/data/assets/music/bed.mp3",
              "type": "string"
            },
            {
              "id": "g50",
              "name": "FINISHED_VIDEOS_DRIVE_FOLDER_ID",
              "value": "1Kfj3dN6a3wprHruvfBFeTTkc7sAyLM0c",
              "type": "string"
            },
            {
              "id": "g60",
              "name": "BATCH_SIZE",
              "value": 1,
              "type": "number"
            },
            {
              "id": "g61",
              "name": "DEDUP_LOOKBACK",
              "value": 50,
              "type": "number"
            },
            {
              "id": "g62",
              "name": "DEDUP_MAX_RETRIES",
              "value": 2,
              "type": "number"
            },
            {
              "id": "g63",
              "name": "MIN_VIRAL_SCORE",
              "value": 7,
              "type": "number"
            },
            {
              "id": "g70",
              "name": "MUSIC_VOLUME",
              "value": "0.15",
              "type": "string"
            },
            {
              "id": "g71",
              "name": "CAPTION_FONT",
              "value": "Arial",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "deb3da36-2f07-4919-b08a-825873c7760a",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2624,
        3792
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.CONTENT_PLAN_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.CONTENT_PLAN_TAB }}",
          "mode": "name"
        },
        "options": {}
      },
      "id": "4a597ac7-2b0e-4aaf-8bec-fc0360d4e38f",
      "name": "Read Content Plan",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2864,
        3712
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H2pdwVfsMV53qzbq",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Globals').first().json.QUEUE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Globals').first().json.QUEUE_TAB }}",
          "mode": "name"
        },
        "options": {}
      },
      "id": "94ec9fd7-b0bc-4e4a-a49e-dd908fc50e2c",
      "name": "Read Queue",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2864,
        3872
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H2pdwVfsMV53qzbq",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3120,
        3792
      ],
      "id": "527288e8-5d81-4a0c-93ff-cc98a2d9d437",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const plan = $items('Read Content Plan').map(i => i.json);\nconst queue = $items('Read Queue').map(i => i.json);\nconst batchSize = $('Globals').first().json.BATCH_SIZE || 2;\nconst lookback = $('Globals').first().json.DEDUP_LOOKBACK || 50;\n\nconst planned = plan.filter(r => r.status === 'planned');\nif (planned.length === 0) throw new Error('No concepts with status \"planned\" in content_plan. Run the Planner (A2) first.');\n\nconst batch = planned.slice(0, batchSize);\n\nconst recent = queue\n  .filter(r => r.created_at)\n  .sort((a, b) => String(b.created_at).localeCompare(String(a.created_at)))\n  .slice(0, lookback)\n  .map(r => ({ title: r.title || '', summary: r.one_line_summary || '' }));\n\nreturn batch.map((c, i) => ({\n  json: {\n    slot: i + 1,\n    drive_file_id: c.drive_file_id,\n    book_title: c.book_title,\n    book_author: c.book_author,\n    chapter_number: c.chapter_number,\n    chapter_title: c.chapter_title,\n    start_page: c.start_page,\n    end_page: c.end_page,\n    concept_index: c.concept_index,\n    concept_title: c.concept_title,\n    angle: c.angle,\n    brief: c.brief,\n    dedup_context: recent,\n    retry_count: 0,\n    avoid_angles: []\n  }\n}));"
      },
      "id": "5c6e235d-71f0-48d2-8da4-8885841aafdb",
      "name": "Select Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3312,
        3792
      ]
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all().map(i => i.json);\nconst seen = new Set();\nconst uniqueBooks = [];\nfor (const c of all) {\n  if (!seen.has(c.drive_file_id)) {\n    seen.add(c.drive_file_id);\n    uniqueBooks.push({ json: { drive_file_id: c.drive_file_id, book_title: c.book_title } });\n  }\n}\nreturn uniqueBooks;"
      },
      "id": "bd1a5831-06e5-478d-b0a7-8898e834b2c4",
      "name": "Get Unique Books",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3504,
        3792
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "43b0e827-968c-42d9-9d55-26a19ea6125c",
      "name": "Loop Books",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3728,
        3856
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.drive_file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "886444df-4b6b-43c9-8e41-15c1965282ed",
      "name": "Download PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3136,
        4112
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0zoFAIoKxbc72Emc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "joinPages": false
        }
      },
      "id": "808783f6-5b12-462e-aa5e-864b1ab0f0aa",
      "name": "Extract PDF Per Page",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        3360,
        4112
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.text || $json.data || '';\nlet pages = [];\nif (Array.isArray(raw)) pages = raw;\nelse if (typeof raw === 'string') {\n  pages = raw.split('\\f');\n  if (pages.length < 3) pages = raw.split(/\\n\\s*\\n\\s*\\n/);\n}\nconst book = $('Loop Books').item.json;\nreturn [{ json: { drive_file_id: book.drive_file_id, book_title: book.book_title, pages } }];"
      },
      "id": "44b00428-4acc-4d49-9d2c-6863d02d7abd",
      "name": "Normalize Book Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3584,
        4112
      ]
    },
    {
      "parameters": {
        "jsCode": "const bookItems = $items('Normalize Book Pages');\nconst cache = {};\nfor (const it of bookItems) {\n  cache[it.json.drive_file_id] = it.json.pages;\n}\n\nconst concepts = $items('Select Batch').map(i => i.json);\nconst out = [];\nfor (const c of concepts) {\n  const pages = cache[c.drive_file_id] || [];\n  const start = Math.max(0, (c.start_page || 1) - 1);\n  const end = Math.min(pages.length, c.end_page || pages.length);\n  const chapterText = pages.slice(start, end).join('\\n\\n').slice(0, 25000);\n  out.push({ json: { ...c, chapter_text: chapterText } });\n}\nreturn out;"
      },
      "id": "6831ae72-0722-49a6-b547-56be27bd8706",
      "name": "Attach Chapter Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        4320
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d5e24b7f-b31e-46d7-82bb-bb3053d00ef8",
      "name": "Loop Each Concept",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2720,
        4320
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a short-form dialogue between two characters for a {{ $('Globals').first().json.NICHE_NAME }} YouTube Shorts channel.\n\n=== CHARACTERS ===\n{{ $('Globals').first().json.CHARACTER_A_NAME }} (A): {{ $('Globals').first().json.CHARACTER_A_PERSONALITY }}\n{{ $('Globals').first().json.CHARACTER_B_NAME }} (B): {{ $('Globals').first().json.CHARACTER_B_PERSONALITY }}\n\n=== AUDIENCE ===\n{{ $('Globals').first().json.NICHE_AUDIENCE }}\n\n=== THE CONCEPT TO BUILD (decided by the planner) ===\nConcept: {{ $json.concept_title }}\nAngle: {{ $json.angle }}\nBrief: {{ $json.brief }}\n\n=== SOURCE CHAPTER (full text, for grounding) ===\nBook: {{ $json.book_title }} — by {{ $json.book_author }}\nChapter {{ $json.chapter_number }}: {{ $json.chapter_title }}\n\n{{ $json.chapter_text }}\n\n=== ANGLES TO AVOID (rejected on earlier attempts this run) ===\n{{ JSON.stringify($json.avoid_angles) }}\n\n=== RULES ===\n- Build the concept described in the brief. Stay grounded in the chapter text — no invented facts.\n- Exactly 4 to 7 lines, alternating speakers, starting with A.\n- Total spoken length 55-75 words across all lines.\n- Line 1 is the HOOK (6-12 words, from A): contradiction, personal callout, specific number, future shock, or pattern interrupt.\n- Never start with 'Did you know', 'Have you ever', 'Imagine if', 'Scientists discovered', 'A new study'.\n- Never mention the book, author, or that this is a summary.\n- A voices doubt / the dumb-sounding question. B voices the insight, never lectures.\n- Final line lands the thought. No CTA.\n- Each line 1-2 sentences, punchy, sounds like real speech. 8th-grade reading level.\n- Banned words: fascinating, incredible, mind-blowing, game-changer, literally (filler), unhinged, low-key, high-key.\n\n=== OUTPUT (strict JSON, no markdown fences) ===\n{\n  \"title\": \"YouTube Shorts title, <=60 chars, includes a searchable keyword\",\n  \"oneLineSummary\": \"12-18 word neutral description of the core insight\",\n  \"viralScore\": 1-10,\n  \"onScreenCaption\": \"4-8 word bold opening text, different wording from the spoken hook\",\n  \"keywords\": [\"3-5 searchable terms\"],\n  \"lines\": [ { \"speaker\": \"A\", \"text\": \"the spoken line\" } ]\n}",
        "options": {
          "systemMessage": "You write punchy two-character dialogue for short-form video. It feels like overheard conversation between a doubter and an explainer — never a podcast, never a lecture. Output strict JSON only, no preamble or markdown fences.",
          "maxIterations": 8
        }
      },
      "id": "6498d31a-9b0c-4ab7-8fa0-e673be18bd82",
      "name": "Generate Dialogue",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2944,
        4336
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "={{ $('Globals').first().json.ANTHROPIC_MODEL_CHEAP }}",
          "mode": "id"
        },
        "options": {
          "maxTokensToSample": 2000,
          "temperature": 0.8
        }
      },
      "id": "21ebc398-05df-4ceb-b119-26bc2a8c46a9",
      "name": "Dialogue Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        2944,
        4480
      ],
      "credentials": {
        "anthropicApi": {
          "id": "sUkzGV6H3EB4ekZS",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output || '';\nconst cleaned = raw.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```\\s*$/i, '').trim();\nlet idea;\ntry { idea = JSON.parse(cleaned); } catch (e) { throw new Error('Dialogue JSON parse failed: ' + e.message); }\nif (!Array.isArray(idea.lines) || idea.lines.length < 2) throw new Error('Dialogue must have >= 2 lines');\nconst ctx = $('Loop Each Concept').item.json;\nconst fullScript = idea.lines.map(l => `${l.speaker}: ${l.text}`).join('\\n');\nconst spokenOnly = idea.lines.map(l => l.text).join(' ');\nreturn [{\n  json: {\n    ...ctx,\n    chapter_text: undefined,\n    idea_title: idea.title,\n    idea_hook: idea.lines[0].text,\n    idea_one_line_summary: idea.oneLineSummary,\n    idea_lines: idea.lines,\n    idea_full_script: fullScript,\n    idea_spoken_text: spokenOnly,\n    idea_on_screen_caption: idea.onScreenCaption,\n    idea_viral_score: idea.viralScore,\n    idea_keywords: idea.keywords || [],\n    idea_word_count: spokenOnly.split(/\\s+/).length\n  }\n}];"
      },
      "id": "d1f598c3-d77d-4d46-a852-4376f963b2fc",
      "name": "Parse Dialogue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3248,
        4336
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Check whether this candidate video duplicates any past video.\n\n=== PAST VIDEOS (recent first) ===\n{{ JSON.stringify($json.dedup_context || []) }}\n\n=== CANDIDATE ===\nTitle: {{ $json.idea_title }}\nSummary: {{ $json.idea_one_line_summary }}\nHook: {{ $json.idea_hook }}\n\nRules: 'Substantially the same' = same core insight even if framing differs. Different example same insight = duplicate. Same topic different insight = NOT duplicate. Moderately strict, not paranoid.\n\nReturn ONLY valid JSON: { \"duplicate\": true|false, \"similar_to\": \"title or null\", \"reason\": \"one sentence\" }",
        "options": {
          "systemMessage": "Content librarian. Strict JSON output only, no markdown fences.",
          "maxIterations": 2
        }
      },
      "id": "1e3f0eca-f86f-4677-909e-dd9d8938930f",
      "name": "Dedup Check",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3424,
        4336
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "={{ $('Globals').first().json.ANTHROPIC_MODEL_CHEAP }}",
          "mode": "id"
        },
        "options": {
          "maxTokensToSample": 400,
          "temperature": 0.1
        }
      },
      "id": "3e907667-573e-4c78-966b-556662973cd2",
      "name": "Dedup Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        3424,
        4480
      ],
      "credentials": {
        "anthropicApi": {
          "id": "sUkzGV6H3EB4ekZS",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output || '';\nconst cleaned = raw.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```\\s*$/i, '').trim();\nlet dedup;\ntry { dedup = JSON.parse(cleaned); } catch (e) { dedup = { duplicate: false, similar_to: null, reason: 'parse-failed' }; }\nconst prev = $('Parse Dialogue').item.json;\nconst minScore = $('Globals').first().json.MIN_VIRAL_SCORE || 7;\nconst maxRetries = $('Globals').first().json.DEDUP_MAX_RETRIES || 2;\nconst isDup = dedup.duplicate === true;\nconst lowScore = Number(prev.idea_viral_score || 0) < minScore;\nconst needsRetry = (isDup || lowScore) && (prev.retry_count || 0) < maxRetries;\nlet avoid = Array.isArray(prev.avoid_angles) ? [...prev.avoid_angles] : [];\nif (isDup || lowScore) {\n  avoid.push({ title: prev.idea_title, summary: prev.idea_one_line_summary, reason: isDup ? 'duplicate of ' + (dedup.similar_to || 'past') : 'viral score too low' });\n}\nreturn [{\n  json: {\n    ...prev,\n    dedup_result: dedup,\n    is_duplicate: isDup,\n    needs_retry: needsRetry,\n    retry_count: (prev.retry_count || 0) + (needsRetry ? 1 : 0),\n    avoid_angles: avoid,\n    skip_concept: (isDup || lowScore) && !needsRetry\n  }\n}];"
      },
      "id": "f71b07cb-44e9-4eee-a474-e14a5f22786a",
      "name": "Evaluate Quality",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3728,
        4336
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.needs_retry }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a8cb18f3-f818-4ca6-9924-7d2c9e2feb00",
      "name": "Need Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3904,
        4336
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.skip_concept }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "88ff462b-9074-4931-81e1-85940b175d95",
      "name": "Skip Concept?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4096,
        4416
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Globals').first().json.ERRORS_LOG_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Globals').first().json.ERRORS_LOG_TAB }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $now.toISO() }}",
            "stage": "skip_concept (dedup/low score, retries exhausted)",
            "error_message": "={{ JSON.stringify($json.dedup_result || {}) + ' | score ' + $json.idea_viral_score }}",
            "chapter_attempted": "=ch.{{ $json.chapter_number }} concept {{ $json.concept_index }}",
            "book_title": "={{ $json.book_title }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e6450742-7363-454a-a26b-51ad32e18420",
      "name": "Log Skipped",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4320,
        4320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H2pdwVfsMV53qzbq",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $json;\nconst lines = prev.idea_lines || [];\nreturn lines.map((l, i) => ({\n  json: {\n    _parent: { ...prev, idea_lines: undefined },\n    line_index: i,\n    speaker: l.speaker,\n    text: l.text,\n    voice_id: l.speaker === 'A' ? $('Globals').first().json.CHARACTER_A_VOICE_ID : $('Globals').first().json.CHARACTER_B_VOICE_ID\n  }\n}));"
      },
      "id": "5f9a6a7f-4e08-4954-bff6-cf698ecb8d72",
      "name": "Fan Out Lines",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        4672
      ]
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "={{ $json.voice_id }}",
          "mode": "id"
        },
        "text": "={{ $json.text }}",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        3008,
        4672
      ],
      "id": "697628e8-b886-47d8-a5ed-cd9e951aaf05",
      "name": "Convert text to speech",
      "retryOnFail": true,
      "executeOnce": false,
      "waitBetweenTries": 5000,
      "credentials": {
        "elevenLabsApi": {
          "id": "TI4ppX7kubPpBihl",
          "name": "ElevenLabs account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Estimate audio duration from binary size (no fs / ffprobe)\n// and generate evenly distributed word timings\n\nconst lineCtx = $('Fan Out Lines').item.json;\n\n// Get binary data from ElevenLabs node\nconst binaryProps = Object.keys($binary || {});\nif (binaryProps.length === 0) {\n  throw new Error('No binary attached to item from ElevenLabs node.');\n}\n\nconst binKey = binaryProps[0];\nconst bin = $binary[binKey];\n\nif (!bin || !bin.data) {\n  throw new Error('Binary key ' + binKey + ' has no data');\n}\n\n// Generate run ID (kept from your original logic)\nconst runId = ($execution.id || ('r' + Date.now())) + '_s' + (lineCtx._parent?.slot || 0);\n\n// --- Duration estimation (replaces ffprobe) ---\nconst buffer = Buffer.from(bin.data, 'base64');\nconst byteLength = buffer.length;\n\n// You used: mp3_44100_128 → 128 kbps\nconst bitrate = 128000; // bits per second\n\nlet duration = (byteLength * 8) / bitrate;\n\n// Fallback safety (in case something weird happens)\nif (!duration || duration <= 0) {\n  const wc = (lineCtx.text || '').trim().split(/\\s+/).length;\n  duration = Math.max(1.0, wc / 2.5);\n}\n\n// --- Word timing synthesis ---\nconst words = (lineCtx.text || '').trim().split(/\\s+/).filter(Boolean);\n\nconst perWord = words.length > 0 ? duration / words.length : 0;\n\nconst word_timings = words.map((w, i) => ({\n  word: w,\n  start: +(i * perWord).toFixed(3),\n  end: +((i + 1) * perWord).toFixed(3)\n}));\n\n// Return WITHOUT filesystem path (since we didn't save file)\nreturn [{\n  json: {\n    _parent: lineCtx._parent,\n    line_index: lineCtx.line_index,\n    speaker: lineCtx.speaker,\n    text: lineCtx.text,\n    duration,\n    word_timings,\n    run_id: runId\n  },\n  binary: {\n    [binKey]: bin // keep audio attached for next nodes\n  }\n}];"
      },
      "id": "d30d893b-5654-44d4-8251-a3fe5c7ed794",
      "name": "Save Line Audio + Timings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        4672
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "line_index"
            },
            {
              "fieldToAggregate": "speaker"
            },
            {
              "fieldToAggregate": "text"
            },
            {
              "fieldToAggregate": "duration"
            },
            {
              "fieldToAggregate": "word_timings"
            },
            {
              "fieldToAggregate": "audio_path"
            }
          ]
        },
        "options": {}
      },
      "id": "404a4dc5-d2ee-42b1-9cff-0bce02af1625",
      "name": "Aggregate Lines",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3424,
        4672
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst arr = ($json.line_index || []).map((idx, i) => ({\n  idx,\n  speaker: $json.speaker[i],\n  text: $json.text[i],\n  duration: $json.duration[i],\n  words: $json.word_timings[i],\n  audio_path: $json.audio_path[i]\n}));\narr.sort((a, b) => a.idx - b.idx);\n\nconst parent = $items('Save Line Audio + Timings')[0].json._parent;\nconst runId = $items('Save Line Audio + Timings')[0].json.run_id;\nconst workDir = $('Globals').first().json.WORK_DIR;\nconst font = $('Globals').first().json.CAPTION_FONT || 'Arial';\n\nlet offset = 0;\nconst spriteA = [];\nconst spriteB = [];\nconst globalWords = [];\nfor (const line of arr) {\n  const winStart = offset;\n  const winEnd = offset + line.duration;\n  if (line.speaker === 'A') spriteA.push([winStart, winEnd]);\n  else spriteB.push([winStart, winEnd]);\n  for (const w of (line.words || [])) {\n    if (w.start == null || w.end == null) continue;\n    globalWords.push({ word: w.word, start: offset + w.start, end: offset + w.end });\n  }\n  offset += line.duration;\n}\nconst totalDuration = offset;\n\nfunction assTime(t) {\n  const h = Math.floor(t / 3600);\n  const m = Math.floor((t % 3600) / 60);\n  const s = Math.floor(t % 60);\n  const cs = Math.floor((t - Math.floor(t)) * 100);\n  return `${h}:${String(m).padStart(2,'0')}:${String(s).padStart(2,'0')}.${String(cs).padStart(2,'0')}`;\n}\nconst assHeader = `[Script Info]\\nScriptType: v4.00+\\nPlayResX: 720\\nPlayResY: 1280\\n\\n[V4+ Styles]\\nFormat: Name, Fontname, Fontsize, PrimaryColour, OutlineColour, BackColour, Bold, Outline, Shadow, Alignment, MarginL, MarginR, MarginV\\nStyle: Cap,${font},64,&H00FFFFFF,&H00000000,&H00000000,1,6,0,2,40,40,260\\n\\n[Events]\\nFormat: Layer, Start, End, Style, Text\\n`;\nconst dialogueLines = globalWords.map(w => {\n  const txt = String(w.word).replace(/[{}]/g, '');\n  return `Dialogue: 0,${assTime(w.start)},${assTime(w.end)},Cap,,0,0,0,,${txt.toUpperCase()}`;\n}).join('\\n');\nconst assPath = path.join(workDir, `${runId}_captions.ass`);\nfs.writeFileSync(assPath, assHeader + dialogueLines + '\\n');\n\nconst listPath = path.join(workDir, `${runId}_concat.txt`);\nfs.writeFileSync(listPath, arr.map(l => `file '${l.audio_path.replace(/'/g, \"'\\\\''\")}'`).join('\\n'));\nconst mergedAudioPath = path.join(workDir, `${runId}_voice.mp3`);\n\nreturn [{\n  json: {\n    ...parent,\n    run_id: runId,\n    total_audio_duration: totalDuration,\n    sprite_a_windows: spriteA,\n    sprite_b_windows: spriteB,\n    ass_path: assPath,\n    concat_list_path: listPath,\n    merged_audio_path: mergedAudioPath\n  }\n}];"
      },
      "id": "90d1146b-c146-440e-b8c8-5549ac1a5081",
      "name": "Build Timing + Captions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3648,
        4672
      ]
    },
    {
      "parameters": {
        "command": "=ffmpeg -y -f concat -safe 0 -i \"{{ $json.concat_list_path }}\" -c copy \"{{ $json.merged_audio_path }}\""
      },
      "id": "5c6996b2-14d3-4db9-b532-3f5ac64345bc",
      "name": "FFmpeg Concat Voice",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3872,
        4672
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst prev = $('Build Timing + Captions').item.json;\nconst mcDir = $('Globals').first().json.MINECRAFT_DIR;\nif (!fs.existsSync(mcDir)) throw new Error('Minecraft dir not found: ' + mcDir);\nconst clips = fs.readdirSync(mcDir).filter(f => /\\.(mp4|mov|mkv|webm)$/i.test(f));\nif (clips.length === 0) throw new Error('No video clips in ' + mcDir);\nconst pick = clips[Math.floor(Math.random() * clips.length)];\nconst clipPath = path.join(mcDir, pick);\nconst startOffset = Math.floor(Math.random() * 25);\nconst dur = prev.total_audio_duration + 0.5;\nreturn [{ json: { ...prev, mc_clip_path: clipPath, mc_clip_name: pick, mc_start_offset: startOffset, mc_duration: dur } }];"
      },
      "id": "06f4d62b-8f21-4d1c-8577-d5546517fa9d",
      "name": "Pick Minecraft Clip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4096,
        4672
      ]
    },
    {
      "parameters": {
        "jsCode": "const prev = $json;\nconst g = $('Globals').first().json;\nconst path = require('path');\n\nconst outPath = path.join(g.WORK_DIR, `${prev.run_id}_final.mp4`);\n\nconst ena = wins => wins.map(([s, e]) => `between(t,${s.toFixed(3)},${e.toFixed(3)})`).join('+');\nconst aEnable = ena(prev.sprite_a_windows) || '0';\nconst bEnable = ena(prev.sprite_b_windows) || '0';\n\nconst dur = prev.mc_duration.toFixed(3);\nconst musicVol = g.MUSIC_VOLUME || '0.15';\n\nconst assEsc = prev.ass_path.replace(/\\\\/g, '/').replace(/:/g, '\\\\:');\n\nconst filter = [\n  `[0:v]trim=start=${prev.mc_start_offset}:duration=${dur},setpts=PTS-STARTPTS,scale=720:1280:force_original_aspect_ratio=increase,crop=720:1280[bg]`,\n  `[1:v]scale=320:-1[spA]`,\n  `[2:v]scale=320:-1[spB]`,\n  `[bg][spA]overlay=x=20:y=H-h-340:enable='${aEnable}'[t1]`,\n  `[t1][spB]overlay=x=W-w-20:y=H-h-340:enable='${bEnable}'[t2]`,\n  `[t2]subtitles='${assEsc}'[vout]`,\n  `[4:a]volume=${musicVol},aloop=loop=-1:size=2e9[music]`,\n  `[3:a][music]amix=inputs=2:duration=first:dropout_transition=0[aout]`\n].join(';');\n\nconst cmd = [\n  'ffmpeg -y',\n  `-stream_loop -1 -i \"${prev.mc_clip_path}\"`,\n  `-i \"${g.SPRITE_A_PATH}\"`,\n  `-i \"${g.SPRITE_B_PATH}\"`,\n  `-i \"${prev.merged_audio_path}\"`,\n  `-i \"${g.MUSIC_BED_PATH}\"`,\n  `-filter_complex \"${filter}\"`,\n  '-map \"[vout]\" -map \"[aout]\"',\n  `-t ${dur}`,\n  '-c:v libx264 -preset veryfast -crf 21 -pix_fmt yuv420p',\n  '-c:a aac -b:a 192k',\n  `\"${outPath}\"`\n].join(' ');\n\nreturn [{ json: { ...prev, final_video_path: outPath, ffmpeg_cmd: cmd } }];"
      },
      "id": "63b9c3ad-6de8-49de-9230-08179e28708c",
      "name": "Build FFmpeg Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4320,
        4672
      ]
    },
    {
      "parameters": {
        "command": "={{ $json.ffmpeg_cmd }}"
      },
      "id": "fbe9fc7f-684a-45a3-a2fb-eae6c31b7e29",
      "name": "FFmpeg Assemble Video",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2752,
        4896
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst prev = $('Build FFmpeg Command').item.json;\nif (!fs.existsSync(prev.final_video_path)) {\n  throw new Error('FFmpeg produced no output file: ' + prev.final_video_path);\n}\nconst stat = fs.statSync(prev.final_video_path);\nif (stat.size < 100000) {\n  throw new Error('FFmpeg output suspiciously small (' + stat.size + ' bytes): ' + prev.final_video_path);\n}\nconst data = fs.readFileSync(prev.final_video_path);\nreturn [{\n  json: { ...prev, final_video_size: stat.size },\n  binary: {\n    video: {\n      data: data.toString('base64'),\n      mimeType: 'video/mp4',\n      fileName: `${prev.run_id}.mp4`\n    }\n  }\n}];"
      },
      "id": "13ec272d-9083-4109-a46a-42a07d3d096b",
      "name": "Load Final Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2976,
        4896
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.run_id }}.mp4",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Globals').first().json.FINISHED_VIDEOS_DRIVE_FOLDER_ID }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "3f62c402-c3ed-425c-bf4a-ebaa72163ca2",
      "name": "Upload Video to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3200,
        4896
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0zoFAIoKxbc72Emc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Load Final Video').item.json;\nconst driveId = $json.id;\nreturn [{ json: { ...prev, video_drive_id: driveId, video_drive_link: `https://drive.google.com/file/d/${driveId}/view` } }];"
      },
      "id": "bf59ae9a-57c6-434c-b8a6-d5ce20623119",
      "name": "Capture Drive Ref",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3424,
        4896
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Globals').first().json.QUEUE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Globals').first().json.QUEUE_TAB }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "created_at": "={{ $now.toISO() }}",
            "status": "pending_review",
            "title": "={{ $json.idea_title }}",
            "one_line_summary": "={{ $json.idea_one_line_summary }}",
            "hook": "={{ $json.idea_hook }}",
            "full_script": "={{ $json.idea_full_script }}",
            "on_screen_caption": "={{ $json.idea_on_screen_caption }}",
            "angle": "={{ $json.angle }}",
            "viral_score": "={{ $json.idea_viral_score }}",
            "keywords": "={{ ($json.idea_keywords || []).join(', ') }}",
            "word_count": "={{ $json.idea_word_count }}",
            "video_duration": "={{ Math.round(($json.total_audio_duration || 0) * 10) / 10 }}",
            "source_book": "={{ $json.book_title }}",
            "source_chapter": "={{ $json.chapter_number }}",
            "concept_index": "={{ $json.concept_index }}",
            "drive_file_id": "={{ $json.drive_file_id }}",
            "minecraft_clip": "={{ $json.mc_clip_name }}",
            "video_drive_id": "={{ $json.video_drive_id }}",
            "video_drive_link": "={{ $json.video_drive_link }}",
            "posted_at": "",
            "youtube_url": "",
            "view_count_24h": "",
            "view_count_7d": "",
            "retention_pct": "",
            "likes": ""
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f12fca01-1133-40b4-99dc-6e8ee37e6db2",
      "name": "Append Queue Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3648,
        4896
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H2pdwVfsMV53qzbq",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Globals').first().json.CONTENT_PLAN_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Globals').first().json.CONTENT_PLAN_TAB }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "drive_file_id": "={{ $('Capture Drive Ref').item.json.drive_file_id }}",
            "chapter_number": "={{ $('Capture Drive Ref').item.json.chapter_number }}",
            "concept_index": "={{ $('Capture Drive Ref').item.json.concept_index }}",
            "status": "generated"
          },
          "matchingColumns": [
            "drive_file_id",
            "chapter_number",
            "concept_index"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "87327d15-6fbc-4593-a253-85e93695ae82",
      "name": "Mark Concept Generated",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3872,
        4896
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H2pdwVfsMV53qzbq",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst prev = $('Capture Drive Ref').item.json;\nconst workDir = $('Globals').first().json.WORK_DIR;\ntry {\n  const files = fs.readdirSync(workDir).filter(f => f.startsWith(prev.run_id));\n  for (const f of files) { try { fs.unlinkSync(path.join(workDir, f)); } catch (e) {} }\n} catch (e) {}\nreturn [{ json: { run_id: prev.run_id, cleaned: true, title: prev.idea_title } }];"
      },
      "id": "d29acdcc-1fe1-4026-9073-fc23d5ad8195",
      "name": "Cleanup Temp Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4096,
        4896
      ]
    },
    {
      "parameters": {
        "content": "## Workflow B1 — ElevenLabs community node\n\n### What's different from the HTTP version\n- Audio is generated by the **ElevenLabs community node** (`Convert text to speech`), one call per dialogue line, with the voice ID switched per speaker.\n- The ElevenLabs node returns binary audio only (no word timings). **Per-word caption timings are synthesized** by measuring the MP3 with `ffprobe` and spacing the line's words evenly across that measured duration. Sprite-swap windows remain exact (they're line-level), captions drift by a few hundred ms at most.\n\n### If your ElevenLabs node version differs\nThe `Save Line Audio + Timings` code auto-detects the binary property name returned by the node (it grabs the first key on `$binary`). If you have multiple binaries floating around for some reason, force a specific key name in the node's output settings.\n\n### Fixed bugs from the previous version\n- `Skip Concept?` true-branch was forking to both Log Skipped *and* the loop, double-advancing it. Now linear: Skip → Log Skipped → Loop.\n- Orphan `TTS Per Line` node removed.\n- ElevenLabs node was hardcoded to Character A's voice. Now reads `$json.voice_id` per line.\n- `.item` → `.first()` on the one straggling Globals reference inside the ElevenLabs node.\n\n### Same Docker requirement\nffmpeg AND ffprobe in the container — both come from the same `apk add --no-cache ffmpeg` package, so the same Dockerfile works:\n```\nFROM n8nio/n8n:latest\nUSER root\nRUN apk add --no-cache ffmpeg\nUSER node\n```",
        "height": 540,
        "width": 952,
        "color": 5
      },
      "id": "99980fff-5890-49d7-90b5-72eead3dda6a",
      "name": "Sticky Note B1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2432,
        3104
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3243d6aa-f61f-4129-b9f1-ade27c3d8eee",
              "name": "_parent",
              "value": "={{ $json._parent }}",
              "type": "object"
            },
            {
              "id": "ea8a527b-3676-4717-b0d8-cdc9dd78342e",
              "name": "line_index",
              "value": "={{ $json.line_index }}",
              "type": "number"
            },
            {
              "id": "78416c24-55dd-41d1-9f56-1fb78a100977",
              "name": "speaker",
              "value": "={{ $json.speaker }}",
              "type": "string"
            },
            {
              "id": "bb02d7f3-9372-42d9-967f-71e418f91af2",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "bbb913da-4ce9-45c3-b50e-d072e7e4c435",
              "name": "voice_id",
              "value": "={{ $json.voice_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2464,
        4800
      ],
      "id": "c78f3e65-4f30-463f-829f-886208b2d0c3",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-05-20T14:50:57.333Z",
      "createdAt": "2026-05-20T14:50:57.333Z",
      "role": "workflow:owner",
      "workflowId": "4uMckfFRptTqiSjT",
      "projectId": "O6AJ2gZorGSWwg9b"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-07T09:30:03.760Z",
  "versionId": "c8fcb8ff-f797-4742-9f32-4297dc97a30b"
}