C6zbZEwveu8kWQA3.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Scrape from Pure API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Audio - ElevenLabs": {
      "main": [
        [
          {
            "node": "Wait for Audio Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Videos - Runway": {
      "main": [
        [
          {
            "node": "Wait for Video Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine & Caption - Creatomate": {
      "main": [
        [
          {
            "node": "Wait for Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape from Pure API": {
      "main": [
        [
          {
            "node": "Merge Paper Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Paper Sources": {
      "main": [
        [
          {
            "node": "Generate & Rank Video Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Merge Paper Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generate & Rank Video Ideas": {
      "main": [
        [
          {
            "node": "Parse Video Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Video Script": {
      "main": [
        [
          {
            "node": "Generate Audio - ElevenLabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Post Description": {
      "main": [
        [
          {
            "node": "Parse Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Description": {
      "main": [
        []
      ]
    },
    "Wait for Audio Processing": {
      "main": [
        [
          {
            "node": "Check Audio Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Audio Success": {
      "main": [
        [
          {
            "node": "Generate Videos - Runway",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Audio Generation Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Video Processing": {
      "main": [
        [
          {
            "node": "Check Video Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Success": {
      "main": [
        [
          {
            "node": "Combine & Caption - Creatomate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Video Generation Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Final Video": {
      "main": [
        [
          {
            "node": "Check Final Video Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Final Video Success": {
      "main": [
        [
          {
            "node": "Generate Post Description",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Video Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate & Rank Video Ideas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-01T09:27:36.188Z",
  "id": "C6zbZEwveu8kWQA3",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Research Paper to Video Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "42e6f808-91f9-439d-9547-8154adf9917d",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        48,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<__PLACEHOLDER_VALUE__ElevenLabs API endpoint (e.g., https://api.elevenlabs.io/v1/text-to-speech/VOICE_ID)__>",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"text\": $json.fullScript, \"model_id\": \"eleven_multilingual_v2\", \"voice_settings\": {\"stability\": 0.5, \"similarity_boost\": 0.75, \"style\": 0.5, \"use_speaker_boost\": true}} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audioFile"
            }
          }
        }
      },
      "id": "9be66d0d-7773-480e-929b-5c77b5315035",
      "name": "Generate Audio - ElevenLabs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        928,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<__PLACEHOLDER_VALUE__Runway API endpoint (e.g., https://api.runwayml.com/v1/gen3/text-to-video)__>",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"text_prompt\": $json.scenes.map(s => s.visualPrompt).join(\" | \"), \"duration\": 5, \"ratio\": \"9:16\", \"seed\": 12345} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b8d49c03-bd7e-4595-977c-4ad8daa548e5",
      "name": "Generate Videos - Runway",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        960,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<__PLACEHOLDER_VALUE__Creatomate API endpoint (e.g., https://api.creatomate.com/v1/renders)__>",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"template_id\": \"your-template-id\", \"modifications\": {\"Audio-1\": {\"source\": $(\"Wait for Audio Processing\").item.json.audioFile}, \"Video-Clips\": $(\"Wait for Video Processing\").item.json.videoUrls, \"Captions\": {\"text\": $(\"Parse Video Script\").item.json.fullScript, \"style\": \"modern-bold\"}}} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "c4d6f781-963c-4665-b4da-273663263e78",
      "name": "Combine & Caption - Creatomate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        944,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<__PLACEHOLDER_VALUE__Blotato API endpoint (e.g., https://api.blotato.com/v1/posts)__>",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"video_url\": $json.videoUrl, \"title\": $json.videoTitle, \"description\": $json.postDescription, \"hashtags\": $json.hashtags, \"platforms\": [\"tiktok\", \"instagram\", \"youtube_shorts\"], \"schedule\": \"immediate\"} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "5ee0ed62-f4b8-4f4e-a4c9-9ee7b4471cc6",
      "name": "Upload - Blotato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1712,
        736
      ]
    },
    {
      "parameters": {
        "url": "<__PLACEHOLDER_VALUE__Pure API endpoint (e.g., https://pure.university.edu/api/papers/123)__>",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "141b4a82-2f25-4935-83f2-b377708cb82c",
      "name": "Scrape from Pure API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        192
      ]
    },
    {
      "parameters": {},
      "id": "939b2ad0-13dd-4aef-ae81-f3a5b75b66ee",
      "name": "Merge Paper Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        720,
        128
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Enter_PDF_here",
        "options": {
          "joinPages": true,
          "maxPages": 30
        }
      },
      "id": "f61dce7e-ff2b-461b-90d5-c288aa96492e",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        464,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following research paper and turn it into engaging short-form content for TikTok and Instagram aimed at students choosing their future studies.\n\nTitle: {{ $json.info.Title }}\nContent: {{ $json.text }}\n\nStep 1: Generate 3 distinct video content ideas based on the research.\n\nFor each idea, provide:\n\n* Title: short, catchy, max 60 characters\n* Hook: attention-grabbing first 3 seconds\n* Concept: brief explanation of the idea in simple terms\n* Why it matters: real-life relevance for a young audience\n* Viral score: integer from 1 to 10\n\nStep 2: Rank the 3 ideas by viral score and select the best one.\n\nStep 3: For the selected idea, create a complete short-form video package:\n\n* Final title\n\n* Hook (refined if needed)\n\n* Full narration script (40 to 80 words, clear and engaging, no jargon)\n\n* 3 to 5 scenes, each including:\n\n  * Scene number\n  * Description of what happens\n  * Mood or tone\n  * Visual direction for video generation\n\n* Social post caption (based on the narration, optimized for engagement, no hashtags unless necessary)\n\nImportant guidelines:\n\n* Target audience is 16 to 19 year olds deciding what to study\n* Make everything feel relatable, modern, and slightly playful\n* Translate complex research into everyday situations or future possibilities\n* Focus on one clear idea only\n* Do not mention research papers, studies, or academic language explicitly\n\nOutput format (valid JSON only):\n\n{\n\"selectedIdea\": {\n\"title\": \"...\",\n\"hook\": \"...\",\n\"viralScore\": 9,\n\"narration\": \"...\",\n\"scenes\": [\n{\n\"number\": 1,\n\"description\": \"...\",\n\"mood\": \"...\",\n\"visual\": \"...\"\n}\n],\n\"caption\": \"...\"\n}\n}\n",
        "options": {
          "systemMessage": "You are an AI that transforms academic psychology and technology research into engaging short-form social media posts for platforms like TikTok and Instagram, specifically targeting high school students who are choosing their future studies.\n\nYour task is to convert a research paper summary into a single compelling post.\n\nGuidelines:\n\nAudience: Teenagers aged 16 to 19 who are curious, easily distracted, and not yet familiar with academic language\nTone: Energetic, relatable, slightly playful, inspiring curiosity without sounding like a lecture\nPerspective: Second-person or inclusive language like you or we to make it feel personal\nStyle: Fast-paced, scroll-stopping, social media native\nLength: 40 to 80 words total\n\nStructure:\n\nStart with a strong hook that makes the viewer curious or surprised\nTranslate the research into a real-life situation or relatable example\nHighlight why this research actually matters in everyday life or future tech\nEnd with a subtle call to action or thought-provoking question about studying this field\n\nContent rules:\n\nAvoid jargon, simplify everything without losing meaning\nFocus on one core idea from the paper only\nMake the study feel impactful, futuristic, or personally relevant\nDo not mention that it comes from a paper or research explicitly\nAvoid hashtags unless specifically requested\nAvoid emojis unless they clearly add value\n\nGoal:\n\nMake the viewer think this is cool, relevant, and something they might want to study without making it feel like an ad",
          "maxIterations": 10
        }
      },
      "id": "b4c6eaf5-16bc-4170-b483-c6de150b0dbb",
      "name": "Generate & Rank Video Ideas",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        64,
        480
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"assignments\": [\n    {\n      \"name\": \"videoTitle\",\n      \"value\": \"={{ JSON.parse($json.output).selectedIdea.title }}\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"hook\",\n      \"value\": \"={{ JSON.parse($json.output).selectedIdea.hook }}\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"fullScript\",\n      \"value\": \"={{ JSON.parse($json.output).selectedIdea.narration }}\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"scenes\",\n      \"value\": \"={{ JSON.parse($json.output).selectedIdea.scenes }}\",\n      \"type\": \"array\"\n    },\n    {\n      \"name\": \"caption\",\n      \"value\": \"={{ JSON.parse($json.output).selectedIdea.caption }}\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"viralScore\",\n      \"value\": \"={{ JSON.parse($json.output).selectedIdea.viralScore }}\",\n      \"type\": \"number\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "6468b287-5021-4ee4-9f32-bf19b3554199",
      "name": "Parse Video Script",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        496
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create an engaging social media post description for this video:\n\nTitle: {{ $(\"Parse Video Script\").item.json.videoTitle }}\nHook: {{ $(\"Parse Video Script\").item.json.hook }}\nScript: {{ $(\"Parse Video Script\").item.json.fullScript }}\n\nRequirements:\n- Catchy opening line\n- 2-3 sentences max\n- Include relevant hashtags (8-12)\n- Optimize for TikTok, Instagram Reels, YouTube Shorts\n- Add call-to-action\n\nReturn as JSON:\n{\n  \"description\": \"Full post text with hashtags\",\n  \"hashtags\": [\"AI\", \"Science\", ...]\n}",
        "options": {
          "systemMessage": "You are a social media expert who writes viral captions for short-form video content.",
          "maxIterations": 5
        }
      },
      "id": "afa89fd8-f030-4489-a660-1957d91d1dd9",
      "name": "Generate Post Description",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1008,
        736
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "postDescription",
              "value": "={{ JSON.parse($json.output).description }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "hashtags",
              "value": "={{ JSON.parse($json.output).hashtags }}",
              "type": "array"
            },
            {
              "id": "3",
              "name": "videoUrl",
              "value": "={{ $(\"Wait for Final Video\").item.json.finalVideoUrl }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "videoTitle",
              "value": "={{ $(\"Parse Video Script\").item.json.videoTitle }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "83cbb131-7e78-4782-863b-4d8120120d0c",
      "name": "Parse Description",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        736
      ]
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "3cecadb1-2491-41e7-b607-8fb9a25cc5c8",
      "name": "Wait for Audio Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1152,
        80
      ],
      "webhookId": "485669c7-4a27-4920-bb46-46c563f7d71d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.audioFile }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9c50e730-b893-46e2-8389-3a69178f0e1e",
      "name": "Check Audio Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1376,
        80
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "id": "bc20825e-c853-4e95-87f3-2838d2386784",
      "name": "Wait for Video Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1184,
        272
      ],
      "webhookId": "d2286d6d-883f-44ef-83cd-4a675b1530f3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.videoUrls }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4239f9db-ceaa-49ae-a8dc-146745f5b86c",
      "name": "Check Video Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1408,
        272
      ]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "id": "86583e51-f28c-4200-b657-d76ffe5c4984",
      "name": "Wait for Final Video",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1168,
        448
      ],
      "webhookId": "9bc1cab1-7293-4743-8eac-00e5952b5955"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.finalVideoUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f13f1b96-b8be-40e4-846b-0416afe3ba7e",
      "name": "Check Final Video Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1424,
        480
      ]
    },
    {
      "parameters": {
        "errorMessage": "Final video generation failed - no video URL received from Creatomate"
      },
      "id": "128b8f1e-3d13-4435-84c4-c1ac9ade74a7",
      "name": "Final Video Failed",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1648,
        496
      ]
    },
    {
      "parameters": {
        "errorMessage": "Video generation failed - no video URLs received from Runway"
      },
      "id": "54f34f84-9bcb-4236-bc98-6ad31723fc2a",
      "name": "Video Generation Failed",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1616,
        272
      ]
    },
    {
      "parameters": {
        "errorMessage": "Audio generation failed - no audio file received from ElevenLabs"
      },
      "id": "5fa3318c-9593-4408-aec0-9af37cb714d1",
      "name": "Audio Generation Failed",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1584,
        96
      ]
    },
    {
      "parameters": {
        "content": "## 📥 Data Collection\nFetch research papers from Pure API or upload PDF manually",
        "height": 496,
        "width": 896,
        "color": 4
      },
      "id": "2afffa57-bdfc-444c-8480-e14a56053b40",
      "name": "Sticky Note 671da0f1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -112
      ]
    },
    {
      "parameters": {
        "content": "## 📝 Script Generation\nAI generates viral video ideas, ranks them, and creates complete script",
        "height": 480,
        "width": 896,
        "color": 5
      },
      "id": "f523957c-6546-4227-8f27-87d75873132a",
      "name": "Sticky Note ed9b8486",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        384
      ]
    },
    {
      "parameters": {
        "content": "## 🎬 Video Generation\nGenerate audio narration and video clips, then combine with captions",
        "height": 656,
        "width": 976,
        "color": 6
      },
      "id": "88bb6e95-73d3-44a8-ae53-e16fdfe774fa",
      "name": "Sticky Note dffd4424",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        896,
        0
      ]
    },
    {
      "parameters": {
        "content": "## 🚀 Publishing\nGenerate social media captions and upload to platforms",
        "height": 256,
        "width": 976,
        "color": 2
      },
      "id": "072a6d68-ff47-4270-a853-81a4f6ade5f8",
      "name": "Sticky Note 0554370c",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        896,
        656
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        64,
        704
      ],
      "id": "36d4e43e-732b-46a6-925a-878bb7988183",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "sUkzGV6H3EB4ekZS",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "formTitle": "Pdf",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Enter PDF here",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        48,
        0
      ],
      "id": "11e77179-de4f-42f0-8858-09a779104003",
      "name": "On form submission",
      "webhookId": "8fe233d1-328e-427d-9479-c8c5424a6b28",
      "credentials": {
        "httpBasicAuth": {
          "id": "grKbvReFqFaQkMi2",
          "name": "Unnamed credential"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-05-01T09:27:36.192Z",
      "createdAt": "2026-05-01T09:27:36.192Z",
      "role": "workflow:owner",
      "workflowId": "C6zbZEwveu8kWQA3",
      "projectId": "O6AJ2gZorGSWwg9b"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-11T18:12:28.000Z",
  "versionId": "1605f606-37c8-4816-9f2f-9a91734a8c43"
}