FTFf8lGCjW9oBgU9.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "List PDFs in Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List PDFs in Drive": {
      "main": [
        [
          {
            "node": "Read Existing Manifest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing Manifest": {
      "main": [
        [
          {
            "node": "Filter Unindexed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unindexed": {
      "main": [
        [
          {
            "node": "Has New Books?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Books?": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Books",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Books": {
      "main": [
        [],
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Extract PDF Per Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Per Page": {
      "main": [
        [
          {
            "node": "Build TOC Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build TOC Summary": {
      "main": [
        [
          {
            "node": "Detect Chapters (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Chapters (Claude)": {
      "main": [
        [
          {
            "node": "Parse Chapters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Chapters": {
      "main": [
        [
          {
            "node": "Append Manifest Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Manifest Row": {
      "main": [
        [
          {
            "node": "Loop Over Books",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chapter Detect Model": {
      "ai_languageModel": [
        [
          {
            "node": "Detect Chapters (Claude)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-18T11:30:51.095Z",
  "id": "FTFf8lGCjW9oBgU9",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Book Indexer",
  "nodes": [
    {
      "parameters": {},
      "id": "eec72214-a495-4add-9b1d-64b332dc96d9",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        96,
        -240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "g1",
              "name": "ANTHROPIC_MODEL",
              "value": "claude-sonnet-4-5",
              "type": "string"
            },
            {
              "id": "g2",
              "name": "ANTHROPIC_MODEL_CHEAP",
              "value": "claude-haiku-4-5-20251001",
              "type": "string"
            },
            {
              "id": "g3",
              "name": "GOOGLE_DRIVE_BOOKS_FOLDER_ID",
              "value": "1Ec0of2M6LqUXVTLR8m5QVwPdUm3AsWvg",
              "type": "string"
            },
            {
              "id": "g4",
              "name": "BOOK_MANIFEST_SHEET_ID",
              "value": "1GT3DiUOlB_LdA7oqTIxDLUM7SMaCChrV1u7RJ3WjVhM",
              "type": "string"
            },
            {
              "id": "g5",
              "name": "BOOK_MANIFEST_TAB",
              "value": "book_manifest",
              "type": "string"
            },
            {
              "id": "g6",
              "name": "ERRORS_LOG_SHEET_ID",
              "value": "1Uwo_dzVIcJRIHJoP7blTwIPQaNmSkWhLtO2bKgT7Nds",
              "type": "string"
            },
            {
              "id": "g7",
              "name": "ERRORS_LOG_TAB",
              "value": "errors_log",
              "type": "string"
            },
            {
              "id": "g8",
              "name": "NICHE_NAME",
              "value": "Psychology",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3022442c-395f-4e14-916f-d9b8bfe1a81d",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        -240
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=mimeType='application/pdf'",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.GOOGLE_DRIVE_BOOKS_FOLDER_ID }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "id": "11e40cb6-cfd8-42fc-b440-fd7350462e33",
      "name": "List PDFs in Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        512,
        -240
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0zoFAIoKxbc72Emc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Globals').item.json.BOOK_MANIFEST_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "id": "c7f54c7b-d9db-4a40-9780-c6681a75ca7d",
      "name": "Read Existing Manifest",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        720,
        -240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ednQsic0oBlvB9dg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const existing = new Set(\n  $items('Read Existing Manifest').map(i => i.json.drive_file_id).filter(Boolean)\n);\nconst pdfs = $items('List PDFs in Drive').map(i => i.json);\nconst unindexed = pdfs\n  .filter(p => !existing.has(p.id))\n  .map(p => ({ json: { drive_file_id: p.id, drive_file_name: p.name } }));\nif (unindexed.length === 0) {\n  return [{ json: { _empty: true, message: 'No new books to index.' } }];\n}\nreturn unindexed;"
      },
      "id": "cf45ade1-0696-4877-a07e-23352e0a6a09",
      "name": "Filter Unindexed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        -240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEqual"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0c342911-541b-44d8-a5ff-535a58a931eb",
      "name": "Has New Books?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1136,
        -240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1215f8c6-0784-465b-9f52-72d6abb302f7",
      "name": "Loop Over Books",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.drive_file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "a2bbe1da-7ee5-4296-8b1e-11c2c085c8d1",
      "name": "Download PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        16
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0zoFAIoKxbc72Emc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "joinPages": false
        }
      },
      "id": "1050ef06-6d5d-4f62-b7ed-3e61c3eda124",
      "name": "Extract PDF Per Page",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.text || $json.data || '';\nlet pages = [];\nif (Array.isArray(raw)) pages = raw;\nelse if (typeof raw === 'string') {\n  pages = raw.split('\\f');\n  if (pages.length < 3) pages = raw.split(/\\n\\s*\\n\\s*\\n/);\n}\nconst summary = pages.map((p, idx) => {\n  const lines = p.split(/\\r?\\n/).map(l => l.trim()).filter(Boolean);\n  return `[Page ${idx + 1}] ${lines.slice(0, 3).join(' | ')}`;\n});\nconst tocCandidates = pages.slice(0, 8).map((p, idx) => `--- Page ${idx + 1} ---\\n${p.slice(0, 1500)}`).join('\\n\\n');\nreturn [{\n  json: {\n    drive_file_id: $('Loop Over Books').item.json.drive_file_id,\n    drive_file_name: $('Loop Over Books').item.json.drive_file_name,\n    total_pages: pages.length,\n    page_summary: summary.join('\\n').slice(0, 18000),\n    toc_sample: tocCandidates.slice(0, 8000)\n  }\n}];"
      },
      "id": "11ce01d6-566f-4c5b-9b5b-98dc1b4c963e",
      "name": "Build TOC Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are analyzing a book PDF to detect chapter boundaries.\n\nFile name: {{ $json.drive_file_name }}\nTotal pages: {{ $json.total_pages }}\n\n=== TABLE OF CONTENTS SAMPLE ===\n{{ $json.toc_sample }}\n\n=== PAGE-BY-PAGE HEAD SUMMARY ===\n{{ $json.page_summary }}\n\nReturn ONLY valid JSON (no markdown fences):\n\n{\n  \"title\": \"clean book title\",\n  \"author\": \"primary author or 'Unknown'\",\n  \"chapters\": [ { \"chapter_number\": 1, \"chapter_title\": \"...\", \"start_page\": 12, \"end_page\": 28 } ]\n}\n\nRules:\n- SKIP front matter (title, copyright, dedication, foreword) and back matter (acknowledgments, bibliography, notes, index)\n- Include Introduction only if substantive\n- Use 1-indexed page numbers matching the [Page N] markers\n- If no chapter structure found, return chapters: []",
        "options": {
          "systemMessage": "You are a precise document-structure parser. Output strict JSON only, no preamble or markdown fences. Prefer fewer-but-correct chapters over guessing.",
          "maxIterations": 3
        }
      },
      "id": "3691addd-3d11-4a58-aa98-df82e57d7948",
      "name": "Detect Chapters (Claude)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        832,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "={{ $('Globals').item.json.ANTHROPIC_MODEL }}",
          "mode": "id"
        },
        "options": {
          "maxTokensToSample": 4000,
          "temperature": 0.1
        }
      },
      "id": "d53ca75a-a7c1-4c11-9bbd-d9d47103141d",
      "name": "Chapter Detect Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        832,
        224
      ],
      "credentials": {
        "anthropicApi": {
          "id": "sUkzGV6H3EB4ekZS",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output || '';\nconst cleaned = raw.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```\\s*$/i, '').trim();\nlet parsed;\ntry { parsed = JSON.parse(cleaned); } catch (e) {\n  throw new Error('Chapter detection returned invalid JSON: ' + e.message);\n}\nconst chapters = parsed.chapters || [];\nconst meta = $('Build TOC Summary').item.json;\nreturn [{\n  json: {\n    drive_file_id: meta.drive_file_id,\n    title: parsed.title || meta.drive_file_name.replace(/\\.pdf$/i, ''),\n    author: parsed.author || 'Unknown',\n    total_chapters: chapters.length,\n    chapters_covered: 0,\n    chapter_boundaries_json: JSON.stringify(chapters),\n    last_used_at: '',\n    status: chapters.length > 0 ? 'active' : 'no_chapters_detected',\n    notes: '',\n    indexed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "73481f71-63a0-4ffa-8e81-d68d3dae1bc4",
      "name": "Parse Chapters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Globals').item.json.BOOK_MANIFEST_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "=Sheet1"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6384e15e-a966-4db8-9db9-746049f186e6",
      "name": "Append Manifest Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1248,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ednQsic0oBlvB9dg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Workflow A — Book Indexer\n\nRun manually after dropping PDFs into your Drive books folder. Detects chapter boundaries with Claude Haiku and appends one row per book to `book_manifest`.\n\n**Sheet columns:** `drive_file_id | title | author | total_chapters | chapters_covered | chapter_boundaries_json | last_used_at | status | notes | indexed_at`",
        "height": 240,
        "width": 480,
        "color": 4
      },
      "id": "a9ce70c7-a32f-40da-944a-3d1a36e11eda",
      "name": "Sticky Note A",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -640,
        -208
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-05-18T11:30:51.099Z",
      "createdAt": "2026-05-18T11:30:51.099Z",
      "role": "workflow:owner",
      "workflowId": "FTFf8lGCjW9oBgU9",
      "projectId": "O6AJ2gZorGSWwg9b"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-18T17:06:06.268Z",
  "versionId": "a6e1f1dd-ce64-4f7b-88eb-301eef1c7ded"
}