r9oP7ymLZpAL6RZv.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub get file": {
      "main": [
        [
          {
            "node": "Decode file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode file": {
      "main": [
        [
          {
            "node": "GitHub push edited file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "GitHub get file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-11T18:10:22.333Z",
  "id": "r9oP7ymLZpAL6RZv",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Github workflow push",
  "nodes": [
    {
      "parameters": {},
      "id": "f19cc355-bada-4fe8-be4c-d8c6e41c29c6",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        32
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "KoenKaandorp",
          "mode": "list",
          "cachedResultName": "KoenKaandorp",
          "cachedResultUrl": "https://github.com/KoenKaandorp"
        },
        "repository": {
          "__rl": true,
          "value": "ResearchPaperVideoGeneration",
          "mode": "list",
          "cachedResultName": "ResearchPaperVideoGeneration",
          "cachedResultUrl": "https://github.com/KoenKaandorp/ResearchPaperVideoGeneration"
        },
        "filePath": "workflow_improved.json",
        "additionalParameters": {}
      },
      "id": "c03af244-50cf-4adf-8dea-8a91d5b061be",
      "name": "GitHub get file",
      "type": "n8n-nodes-base.github",
      "position": [
        320,
        32
      ],
      "typeVersion": 1,
      "webhookId": "e94e3526-39a3-4d70-a223-fae6ad7988df",
      "credentials": {
        "githubApi": {
          "id": "Np7LA4CeKtiFyMrr",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var text = Buffer.from($input.first().binary.data.data, 'base64').toString('utf8');\nreturn {\"data\": text};"
      },
      "id": "bf43f59d-dfef-49a6-8312-f96b7a133770",
      "name": "Decode file",
      "type": "n8n-nodes-base.code",
      "position": [
        512,
        32
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "KoenKaandorp",
          "mode": "list",
          "cachedResultName": "KoenKaandorp",
          "cachedResultUrl": "https://github.com/KoenKaandorp"
        },
        "repository": {
          "__rl": true,
          "value": "ResearchPaperVideoGeneration",
          "mode": "list",
          "cachedResultName": "ResearchPaperVideoGeneration",
          "cachedResultUrl": "https://github.com/KoenKaandorp/ResearchPaperVideoGeneration"
        },
        "filePath": "workflow_improved.json",
        "fileContent": "={{ $json.data }}\n## Updated at:\n{{ $now.toISO() }}",
        "commitMessage": "updated from n8n via GitHub node"
      },
      "id": "f41911e1-579d-400b-800a-7799c351ad33",
      "name": "GitHub push edited file",
      "type": "n8n-nodes-base.github",
      "position": [
        720,
        32
      ],
      "typeVersion": 1,
      "webhookId": "672ef463-de85-4d80-bcb4-b21cb1ab7c2c",
      "credentials": {
        "githubApi": {
          "id": "Np7LA4CeKtiFyMrr",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "localrepo",
              "value": "https://github.com/KoenKaandorp/ResearchPaperVideoGeneration.git"
            }
          ]
        },
        "options": {}
      },
      "id": "fbffbd66-3314-4f63-b4e9-32286ef44767",
      "name": "config",
      "type": "n8n-nodes-base.set",
      "position": [
        112,
        32
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-05-11T18:10:22.339Z",
      "createdAt": "2026-05-11T18:10:22.339Z",
      "role": "workflow:owner",
      "workflowId": "r9oP7ymLZpAL6RZv",
      "projectId": "O6AJ2gZorGSWwg9b"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-11T18:12:21.165Z",
  "versionId": "6b07415a-a46c-4a8f-98c9-b3691494faf3"
}